html,body{
    color:#293133;
    height: 100%;
    width:100%;
    margin: 0px;
}
#container{
    background-image: linear-gradient(#E1B23C, #EE7102);
    width: 100%;
    height: 100%;
    color:#FFF8DA;
    padding: 10px;
}
#temprature{
    text-align: center;
    font-size: 200%;
}